//! **************************************************************************
// Written by: Map I.31 on Tue May 19 05:17:42 2015
//! **************************************************************************

SCHEMATIC START;
COMP "c50" LOCATE = SITE "B8" LEVEL 1;
COMP "clk" LOCATE = SITE "M5" LEVEL 1;
COMP "sel<0>" LOCATE = SITE "E2" LEVEL 1;
COMP "sel<1>" LOCATE = SITE "N3" LEVEL 1;
NET "c50_BUFGP/IBUFG" BEL "c50_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
